.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.consortium-legend {
  background-color: #e3e3e3;
  position: absolute; 
}
.consortium-tooltip {
  background-color: #e3e3e3;
  position: absolute; 
  opacity: 0;
}
.consortium-tooltip-wrapper {
  max-width: 200px;
  font-size: 12px;
}
.consortium-tooltip-content {
  font-size: 12px;
}
.consortium-tooltip-header {
  font-weight: bold;
  font-size: 10px;
}
.consortium-table-OC {
  font-weight: bold;
  font-size: 22px;
  background-color: #000000;
  cursor: default;
  color: #ffffff;
}
.consortium-table-DAC {
  font-weight: bold;
  font-size: 22px;
  background-color: #ff0000;
  cursor: default;
  color: #ffffff;
}
.consortium-table-TPC {
  font-weight: bold;
  font-size: 22px;
  background-color: #8000bf;
  cursor: default;
  color: #ffffff;
}
.consortium-table-GCC {
  font-weight: bold;
  font-size: 22px;
  background-color: #FFC300;
  cursor: default;
  color: #ffffff;
}
.consortium-table-TTD {
  font-weight: bold;
  font-size: 22px;
  background-color: #097969;
  cursor: default;
  color: #ffffff;
}
.consortium-table-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Styles for the Alluvial Plot */

html {
  background-color: hsl(0, 0%, 0%);
  background-color: white;
}
body {
  display: flex;
  justify-content: center;
}
div#container {
  height: 500px;
  width: 500px;
  background-color: gray;
  margin: 200px auto auto auto;
}

.alluvial-container {
  display: flex;
  margin-bottom: 50px;
}

.headers {
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
}

.header-left {
  width: 350px;
  margin-left:0;
  text-align: left;
}

.hedaer-center {
  width: 350px;
  margin: auto;
}

.header-right {
  width: 350px;
  float: right;
  text-align: right;
}

.node {

}

.node:hover {
  cursor: pointer;
}

.link {
  fill: none;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .8;
}